# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.classpath
.project
.springBeans
.settings/
.idea/
*.iml
*.iws
.DS_Store
target/
/WebContent/
/.externalToolBuilders/
.factorypath

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
